/* Global Stylings */
/* Colors */
/* Fonts */
@font-face {
  font-family: century-gothic;
  src: url(../../fonts/century-gothic-regular.ttf);
}
@font-face {
  font-family: century-gothic;
  src: url(../../fonts/century-gothic-bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: century-gothic;
  src: url(../../fonts/century-gothic-italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: century-gothic;
  src: url(../../fonts/century-gothic-italic-bold.ttf);
  font-style: italic;
  font-weight: bold;
}
/* Common Style Rules */
/* Global Stylings */
html, body {
  margin: 0;
  padding: 0;
  font-family: century-gothic, sans-serif;
  background-color: #FFFFFF;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  color: #1C3552;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

p {
  color: #1C3552;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

/* Components */
#desktop-search-wrapper {
  visibility: hidden;
  transition: visibility 0s;
  overflow-y: hidden;
}
#desktop-search-wrapper .search-bar {
  position: fixed;
  z-index: 20;
  background-color: #FFFFFF;
  width: 100%;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.25);
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#desktop-search-wrapper .search-bar .input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #1C3552;
  padding: 8px 12px 8px 12px;
  border-radius: 30px;
  transition: border 0.2s;
}
#desktop-search-wrapper .search-bar .input-wrapper input {
  font-family: century-gothic, sans-serif;
  font-size: 1em;
  width: 500px;
  border: none;
  outline: none;
  margin-left: 6px;
}
#desktop-search-wrapper .search-bar .input-wrapper-focus {
  border: solid 1px #28B1C4 !important;
}
#desktop-search-wrapper .search-bar img {
  height: 20px;
  width: auto;
}
#desktop-search-wrapper .search-bar #search-exit {
  cursor: pointer;
  margin-left: 12px;
  opacity: 0.5;
  transition: opacity 0.2s;
}
#desktop-search-wrapper .search-bar #search-exit:hover {
  opacity: 1;
}
#desktop-search-wrapper #search-shader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: #000000;
  opacity: 0;
  transition: all 0.3s;
}

.desktop-nav {
  background-color: #FFFFFF;
  width: 100%;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.25);
  min-height: 60px;
  position: fixed;
  transition: all 0.2s;
}
.desktop-nav .nav-wrap {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
  padding: 10px 56px 10px 56px;
}
.desktop-nav .logo {
  height: 40px;
  width: auto;
  position: absolute;
  z-index: 30;
  transition: all 0.2s;
  opacity: 1;
  visibility: visible;
}
.desktop-nav .logo-white {
  height: 40px;
  width: auto;
  position: absolute;
  z-index: 31;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}
.desktop-nav .nav-search {
  position: absolute;
  display: flex;
  align-content: center;
  right: 56px;
  top: 20px;
}
.desktop-nav .nav-search img {
  height: 20px;
  width: auto;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s;
  position: absolute;
  left: -20px;
}
.desktop-nav .nav-search img:hover {
  opacity: 1;
}
.desktop-nav .nav-search .search-blue {
  visibility: visible;
}
.desktop-nav .nav-search .search-white {
  visibility: hidden;
  opacity: 0;
}
.desktop-nav .link-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  align-content: stretch;
}
.desktop-nav ul {
  margin: 0;
  padding: 0;
}
.desktop-nav ul li {
  display: inline-block;
  padding-left: 22px;
  padding-right: 22px;
  position: relative;
  min-height: 38px;
}
.desktop-nav ul li:hover .link-dropdown, .desktop-nav ul .mobile-hover .link-dropdown {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}
.desktop-nav ul .primary-link {
  font-size: 0.9em;
  text-decoration: none;
  color: #1C3552;
  transition: all 0.2s;
  line-height: 48px;
}
.desktop-nav ul .primary-link:hover {
  color: #28B1C4;
}
.desktop-nav ul .active {
  color: #28B1C4;
}
.desktop-nav ul .link-dropdown {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  background-color: #1C3552;
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  padding: 16px 32px 16px 32px;
  left: 50%;
  margin-left: -102px;
}
.desktop-nav ul .link-dropdown .link-category {
  margin-bottom: 32px;
}
.desktop-nav ul .link-dropdown .link-category .bar {
  background-color: #28B1C4;
  height: 2px;
  width: 40px;
  margin-top: 5px;
}
.desktop-nav ul .link-dropdown .link-category .link-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 600px;
}
.desktop-nav ul .link-dropdown .link-category a {
  margin: 10px 0 10px 0;
  width: 250px;
}
.desktop-nav ul .link-dropdown p, .desktop-nav ul .link-dropdown a {
  color: #FFFFFF;
}
.desktop-nav ul .link-dropdown p {
  font-weight: bold;
  font-size: 0.9em;
  margin: 0;
}
.desktop-nav ul .link-dropdown a {
  text-decoration: none;
  transition: all 0.2s;
  display: block;
  margin: 16px 0 16px 0;
  font-size: 0.85em;
  width: 140px;
}
.desktop-nav ul .link-dropdown a:hover {
  color: #28B1C4;
}
.desktop-nav ul .link-dropdown-big {
  width: auto;
  left: 50%;
  margin-left: -332px;
  padding-top: 32px;
}

.desktop-nav-transparent {
  background-color: transparent;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0);
}
.desktop-nav-transparent .logo {
  visibility: none;
  opacity: 0;
}
.desktop-nav-transparent .logo-white {
  visibility: visible;
  opacity: 1;
}
.desktop-nav-transparent .nav-search .search-blue {
  visibility: hidden;
  opacity: 0;
}
.desktop-nav-transparent .nav-search .search-white {
  visibility: visible;
  opacity: 1;
}
.desktop-nav-transparent ul .primary-link {
  color: #FFFFFF;
}

.mobile-nav {
  display: none;
}

@media (max-width: 950px) {
  .desktop-nav .nav-wrap {
    padding: 10px 24px 10px 24px;
  }
  .desktop-nav ul li {
    padding-left: 16px;
    padding-right: 16px;
  }
  .desktop-nav .nav-search {
    right: 24px;
  }
}
@media (max-width: 880px) {
  .mobile-nav {
    display: block;
  }

  .desktop-nav {
    display: none;
  }
}
.mobile-search-wrapper {
  visibility: hidden;
  transition: visibility 0s;
  overflow-y: hidden;
}
.mobile-search-wrapper .mobile-search-bar {
  position: fixed;
  z-index: 100;
  background-color: #FFFFFF;
  width: 100%;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.25);
  min-height: 48px;
}
.mobile-search-wrapper .mobile-search-bar .mobile-search-padding {
  padding: 8px 18px 8px 18px;
  margin-top: 5px;
}
.mobile-search-wrapper .mobile-search-bar .mobile-search-wrapper {
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
}
.mobile-search-wrapper .mobile-search-bar .mobile-search-wrapper img {
  height: 18px;
  width: auto;
}
.mobile-search-wrapper .mobile-search-bar .mobile-search-wrapper input {
  font-family: century-gothic, sans-serif;
  font-size: 1em;
  width: calc(100% - 30px);
  border: none;
  outline: none;
  margin-left: 6px;
}
.mobile-search-wrapper .mobile-search-bar #mobile-search-exit {
  height: 16px;
  width: auto;
  position: absolute;
  top: 16px;
  right: 19px;
  cursor: pointer;
}
.mobile-search-wrapper .mobile-search-shader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background-color: #000000;
  opacity: 0;
  transition: all 0.3s;
}

.mobile-nav {
  background-color: #FFFFFF;
  width: 100%;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.25);
  min-height: 48px;
  position: fixed;
  transition: all 0.2s;
  z-index: 50;
}
.mobile-nav .mobile-nav-bar .content-bar {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 12px 8px 18px;
}
.mobile-nav .mobile-nav-bar .content-bar .logo {
  height: 28px;
  margin-top: 2px;
  width: auto;
  transition: all 0.2s;
  position: absolute;
}
.mobile-nav .mobile-nav-bar .content-bar .logo-color {
  visibility: visible;
  opacity: 1;
}
.mobile-nav .mobile-nav-bar .content-bar .logo-white {
  visibility: hidden;
  opacity: 0;
}
.mobile-nav .mobile-nav-bar .content-bar .nav-right {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.mobile-nav .mobile-nav-bar .content-bar .nav-right .nav-right-container {
  position: relative;
  height: 18px;
  width: 18px;
  padding: 8px;
  display: inline-block;
  margin-left: 4px;
}
.mobile-nav .mobile-nav-bar .content-bar .search {
  height: 18px;
  width: auto;
  transition: all 0.2s;
  position: absolute;
  cursor: pointer;
}
.mobile-nav .mobile-nav-bar .content-bar .search-color {
  visibility: visible;
  opacity: 0.5;
}
.mobile-nav .mobile-nav-bar .content-bar .search-white {
  visibility: hidden;
  opacity: 0;
}
.mobile-nav .mobile-nav-bar .content-bar .menu {
  height: 18px;
  width: auto;
  transition: all 0.2s;
  position: absolute;
  cursor: pointer;
}
.mobile-nav .mobile-nav-bar .content-bar .menu-color {
  visibility: visible;
  opacity: 0.5;
}
.mobile-nav .mobile-nav-bar .content-bar .menu-white {
  visibility: hidden;
  opacity: 0;
}
.mobile-nav .mobile-nav-bar .content-bar .menu-close {
  visibility: hidden;
  opacity: 0;
}

.mobile-nav-transparent {
  background-color: transparent;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0);
}
.mobile-nav-transparent .mobile-nav-bar .content-bar .logo-color {
  visibility: hidden;
  opacity: 0;
}
.mobile-nav-transparent .mobile-nav-bar .content-bar .logo-white {
  visibility: visible;
  opacity: 1;
}
.mobile-nav-transparent .mobile-nav-bar .content-bar .search-color {
  visibility: hidden;
  opacity: 0;
}
.mobile-nav-transparent .mobile-nav-bar .content-bar .search-white {
  visibility: visible;
  opacity: 1;
}
.mobile-nav-transparent .mobile-nav-bar .content-bar .menu-color {
  visibility: hidden;
  opacity: 0;
}
.mobile-nav-transparent .mobile-nav-bar .content-bar .menu-white {
  visibility: visible;
  opacity: 1;
}

.mobile-nav-slide-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
}
.mobile-nav-slide-wrapper .mobile-nav-slide {
  left: -100%;
  position: fixed;
  z-index: 41;
  background-color: #FFFFFF;
  top: 48px;
  height: calc(100vh - 48px);
  width: calc(100% - 48px);
  max-width: 500px;
  overflow: auto;
  transition: left 0.3s ease-out;
}
.mobile-nav-slide-wrapper .mobile-nav-slide .body-nav {
  padding: 12px;
}
.mobile-nav-slide-wrapper .mobile-nav-slide .body-nav .list-item {
  border-bottom: solid rgba(0, 0, 0, 0.08) 1px;
  width: 100%;
  position: relative;
}
.mobile-nav-slide-wrapper .mobile-nav-slide .body-nav .list-item .list-link {
  width: calc(100% - 32px);
  display: block;
  float: left;
  color: #1C3552;
  font-size: 1.05em;
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
}
.mobile-nav-slide-wrapper .mobile-nav-slide .body-nav .list-item .dropdown-arrow {
  cursor: pointer;
  height: 16px;
  width: auto;
  float: left;
  position: absolute;
  padding: 14px 8px 16px 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 0.2s;
}
.mobile-nav-slide-wrapper .mobile-nav-slide .body-nav .list-item .dropdown-arrow-active {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.mobile-nav-slide-wrapper .mobile-nav-slide .body-nav .list-item .nav-dropdown {
  margin-top: -8px;
  margin-bottom: 0px;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.mobile-nav-slide-wrapper .mobile-nav-slide .body-nav .list-item .nav-dropdown a {
  display: block;
  color: #1C3552;
  font-size: 0.9em;
  text-decoration: none;
  opacity: 0.65;
  padding: 6px 12px 6px 12px;
}
.mobile-nav-slide-wrapper .mobile-nav-slide .body-nav .list-item .nav-dropdown p {
  color: #1C3552;
  font-size: 0.9em;
  font-weight: bold;
  padding: 12px 12px 0px 12px;
}
.mobile-nav-slide-wrapper .slide-shader {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 38;
  background-color: #000000;
  opacity: 0;
  transition: all 0.3s;
}

.memes {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 3000px;
}

/*# sourceMappingURL=index.css.map */
