/* Global Stylings */
@import 'components/base';

/* Components */
@import 'components/nav';
@import 'components/sections';
@import 'components/body-capabilities';

.title-wrap {
    background-color: $primary-color-6;
    padding: 36px 30px;
    border-radius: 2px;
}
.title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    img {
        height: 40px;
        width: auto;
        margin-right: 18px;
    }
    h1 {
        margin-bottom: 6px;
    }
    .desc {
        max-width: 500px;
    }
}

.content-area {
    margin-top: 48px;
}


@media(max-width: 650px) {
    .title-wrap {
        padding: 24px 18px;
    }
    .title {
        img {
            height: 36px;
            margin-right: 12px;
        }
        h1 {
            font-size: 1.7em;
        }
    }
    .content-area {
        margin-top: 36px;
    }
}

@media(max-width: 480px) {
    .title-wrap {
        padding: 18px;
    }
    .title {
        img {
            height: 36px;
        }
        h1 {
            font-size: 1.5em;
        }
    }
    .content-area {
        margin-top: 30px;
    }
}